/*CSS FOR SOCIAL MEDIA - GRID*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Open sans, sans-serif;
    font-size: 15px;
    background: #f5f7f8;
}

a{
    text-decoration: none;
}

.btn{
    margin-top: 1rem;
    background: #607d8b;
    padding: 1rem;
    width: 1rem;
    color: #FFF;
}

.mt-1{margin-top: 1rem;}
/*NAVBAR*/

.navbar{
display: flex;
    align-content: space-between;
    width: 100%;
    height: 45px;
  justify-content: space-between;  
}
.navbar-dark{
    background: #4D636F;
    color: #FFF;
}
.navbar-fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.menu{
    height: 45px;
}
.menu-item{
    display: inline-block;
    padding: 0 20px;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 45px;
    height: 45px;
    background: #3a4b53;
}

.menu-item a:link,
.menu-item a:visited{
    color: #FFF;
    text-decoration: none;
}
.menu-item:hover{
    background: #CCC;
    color: #000;
    cursor: pointer;
}

.icons{
/*  padding: 13.5px 20px;*/
    background: #4D636F;
}


.circle{
    border-radius: 100%;
}


.profile{
    background: #FFF;
    height: 310px;
    width: 100%;
    text-align: center;
}

.profile h3{
    font-weight: 500;
    text-align: center;
    padding: 4% 0;
}

.profile-pic{
    height: 40%;
    border-bottom: solid 1px #EEE;
}


.profile-item{
    padding: 0 20px;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 45px;
    text-align: left;
    color: #6A7D8B;
    list-style-type: none;
}

.profile-item a:link,
.profile-item a:visited{
    color: #6A7D8B;
    text-decoration: none;
}

.events-item{
    padding: 0 20px;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 45px;
    background: #7d97a5;
    list-style-type: none;
    text-align: left;
}

.events-item a:link,
.events-item a:visited{
    color: #FFF;
    text-decoration: none;
}
.events-item:hover{
    background: #CCC;
    color: #000;
    cursor: pointer;
}

/*Interest*/

.interests{
    background: #FFF;
    padding: 2% 4%;
}
.interests h3{
    font-weight: 500;
}


.interests .i1, .i2, .i3, .i4, .i5, .i6, .i7, .i8 ,.i9, .i10{
    display: inline-block;
    padding: 0% 2%;    
    color: #FFF;
}

.interests .i1{
    background: #303E45;
}

.interests .i2{
    background: #3A4B53;
}

.interests .i3{
    background: #435761;
}

.interests .i4{
    background: #4D636F;
}

.interests .i5{
    background: #57707D;
}

.interests .i6{
    background: #607D8B;
}

.interests .i7{
    color: #000;
    background: #7D97A5;
}

.interests .i8{
    color: #000;
    background: #9EB1BB;
}

.interests .i9{
    color: #000;
    background: #BECBD2;
}

.interests .i10{
    color: #000;
    background: #DFE5E8;
}


.status{
    background: #FFF;
    padding: 1% 2%;
}

.status h3{
    font-weight: 500;
    font-size: 16px;
    color: #A5A5A5;
    padding: 1%;
}

.status input{
    width: 100%;
    padding: .4rem;
    font-size: 16px;
}

.status .btn-post{
    background: #607d8b;
    padding: 10px;
    width: 4rem;
    color: #FFF;
}
.btn-post:hover{
    background: #CCC;
    color: #000;
    cursor: pointer;
}

.sub-feed{
    background: #FFF;   
    padding: 0 2%;
}
.friend-name {
    height: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: solid 1px #CCC;
}

.name{
    padding: 2% 0% 0% 10%;
    font-weight: 500;
    font-size: 20px;
}

.lorem{
  padding: 2% 0;  
}

.padding-left{
    padding-left: 3%;
}


.react-btn{
    display: inline-block;
    background: #4d636f;
    color: #FFF;
    margin: 1.5% 0;
    padding: 1% 2%;
}
.react-btn:hover{
    background: #CCC;
    color: #000;
    cursor: pointer;
}
.text{
    margin: 2% 0;
}

.time{
    color: #919191;
}

.holiday{
    background: #FFF;
}

 .friend-request{
    width: 100%;
    height: 18rem;
    background: #FFF;
}


.head{
    text-align: center;
    padding: 8%;
}
.description{
    text-align: center;
    padding: 8% 0;
}

.day{
    text-align: center;
    padding-bottom: 8%;
}

.btn-info{
    text-align: center;
    padding: 4%;
    background: #dfe5e8;
}

.btn-info:hover{
    background: #CCC;
    color: #000;
    cursor: pointer;
}

.requests{
    text-align: center;
}

.btn-accept{
    background: #4CAF50;
    padding: 6% 15%;
    margin-top: 5%;
    margin-left: 15%;
    color:#FFF;
}
.btn-reject{
    background: #f44336;
    padding: 6% 15%;
    margin-top: 5%;
    color:#FFF;
}

.btn-accept:hover,
.btn-reject:hover{
    background: #CCC;
    color: #000;
    cursor: pointer;
}

.adv{
    text-align: center;
    width: 100%;
    background: #FFF;
    height: 125px;
    line-height: 125px;
}

.bugs{
    text-align: center;
    padding: 4% 7%;
    width: 100%;
    background: #FFF;
    font-size: 60px;
    height: 125px;
    line-height: 125px;
}

#container{
    margin-top: 50px;
/*    top: 50px;*/
    left: 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 1rem;
}
